.title {
  font-size: 2em;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

section {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-style: italic;
  width: 200px;
  height: 200px;
  border: 1px solid black;
  box-shadow: 0 0 0 1px black;
  line-height: 200px;
  font-size: 100px;
}

.status {
  font-weight: bold;
}