.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
}

body {
  font-family: "Ubuntu", sans-serif;
}

section {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 37.5rem;
  margin-bottom: 2rem;
}

.square {
  font-weight: bold;
  width: 12.5rem;
  height: 12.5rem;
  border: 1px solid black;
  box-shadow: 0 0 0 1px black;
  line-height: 12.5rem;
  font-size: 6.25rem;
  text-align: center;
}

.status {
  font-weight: bold;
  font-size: 2rem;
  min-height: 2.5rem;
}

.options {
  display: flex;
  flex-direction: row;
}

button {
  width: 11.833rem;
  height: 4.13rem;
}

#X {
}

#restart {
  margin-left: 1rem;
}

#O {
  margin-left: 1rem;
}
